<div class="col-md-8 text-search">
  <%= text_field_tag :category_name, params[:category_name],
    class: "form-control input-lg", placeholder: t(".enter_name_category")
  %>
  <i class="fa fa-search"></i>
</div>
<div class="button-tag">
  <%= submit_tag "" %>
</div>
