<h2>Hi <%= @user.name %>,</h2>
<div>
  <p>We would like sending to you the order details as below:</p>
</div>
<div>
  <p> Customer Name: <%= @order.shipping_name %> </p>
  <p> Receiver Address: <%= @order.shipping_address %> </p>
  <p> Email: <%= @order.shipping_email %> </p>
  <p> Thank you for your shopping at Framgia Shop! </p>
</div>

