<% provide :title, t(".new_category") %>
<% provide :button_text, t(".create_category")%>
<h1 class="text-center"><%= t ".new_category" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "new_category" %>
  </div>
</div>
