$grey: #bbb;
$blue_navbar: #27b899;
$orange_logo: #0d59af;
$orange_shadow: #df652d;
$violet_title: #1565C0;
$yellow_mail_border: #fbb005;
$white_mail_border: #fff;
$blue_mail_hover: #0d59af;
$gray_mail_p: #777;
$gray_mail_input: #A3A3A3;
$gray_mail_iframe: #D9D9D9;
$gray_footer: #ccc;
$light-blue: #2c3f50;
$dark-blue: #30415b;
$sky-blue: #21c2f8;
$light-gray: #CAC9C9;
$gray-border-bottom: #eee;
$gray-span: #Eee;
$black-left: #000;
